.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 54.5px;
    width: 100%;
    background-color: #DB4437;
}

.fixed-bottom-bar {
    bottom: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 69px;
    background-color: #DB4437;
    line-height: 30px;
    position: fixed;
}

#main-container {
    margin-top: 54.5px;
    margin-bottom: 69px;
}

ul#announcements-list.collection.content {
    margin-bottom: 0;
}

.row.menu {
    margin-bottom: 0;
    height: 100%;
}

nav a {
    float: left;
    width: 33%;
    max-width: 150px;
}

.title {
    font-weight: bold;
}

input {
    height: 46px;
    border-radius: 3px;
    width: calc(100% - 20px);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.label.row {
    margin-bottom: 0;
}

.label-inner {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.15rem !important;
    color: #969696;
}

form#add-research-form.col.s12 {
    padding: 1.4rem;
}

div.input-field.col.s12.text {
    margin-top: 0;
}

.btn-flat:focus {
    background-color: #DB4437 !important;
}

.mapGoogle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tableC{
  top: 0;
  margin-top: 40px;
  left: 0;
  width: 100%;
}

.dataTables_info{
display: none;
}

/* Wrap responsive */
.googlemap_wrap  {
  position: relative;
  padding-bottom: 65.25%;
  padding-top: 30px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* iframe posizionato in maniera assoluta */
.googlemap_wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.news{
  width: 100%;
  margin-top:20px;
}

#news thead{
  display : none;
}

#news_length{
  display:none;
}
